html {
    html {
            scroll-behavior: auto !important;
        }
}
body {
    background-color: black;
}

.navbar img {
        width: 2.5rem;
}

.nav-brand {
    font-size: 1.6rem;
}

.nav-link {
    font-size: 1.2rem;
}

/** seccion quienes somos**/
.q_s {
    padding: 5rem 0;
    text-align: justify;
}

.encabezados {
    text-align: center;
    color: white;
    font-size: 3rem;
    padding: 2rem 0;
}

.q_s p {
    color: white;
}

.q_s i {
    color: white;
    font-size: 2rem;
    background-color: brown;
    text-align: center;
    width: 100%;
    padding: 7px 0;
}

@media screen and (min-width: 768px) {
    #d__parrafo__2 {
        display: flex;
        flex-direction: column-reverse;
    }
}

/** Cards **/
.card-body {
    background-color: brown;
    color: white;
}

.card-text {
    text-align: justify;
}

@media screen and (min-width: 768px) {
    .card img {
        height: 14vw;
    }
}


/**footer**/
footer {
    background-color: brown;
    color:white;
}